
.flips-grid {
    /* height: 100%; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "me"
    "me2"
    "bb";
    row-gap: 10%;
    
}

#megrid {
    grid-area: me;  
}

#bbgrid {
    grid-area: bb;
}

#me2grid {
    grid-area: me2;
}

.flip-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.flip-container {
    perspective: 1000px;
}
	/* flip the pane when hovered */
	/* .flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	} */

.flip-container, .front, .back {
	width: 67px;
	height: 90px;
}

/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: aquamarine;
}