.hi {
  padding: 12.5px;
}

.hi:before, .hi:after {
  content: "sergey platonov";
  position: absolute;
  color: #000;
  top: 13px;
  overflow: hidden;
}

.hi:before {
  left: 15px;
  text-shadow: 1px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}

.hi:after {
  left: 15px;
  text-shadow: -1px 0 black;
  animation: glitch-after 2s linear 0s infinite alternate-reverse;
}

@-webkit-keyframes glitch-before {
  0% {
    clip: rect(2px, 700px, 132px, 30px);
  }
  5% {
    clip: rect(122px, 700px, 176px, 30px);
  }
  10% {
    clip: rect(120px, 700px, 45px, 30px);
  }
  15% {
    clip: rect(118px, 700px, 137px, 30px);
  }
  20% {
    clip: rect(57px, 700px, 106px, 30px);
  }
  25% {
    clip: rect(31px, 700px, 77px, 30px);
  }
  30% {
    clip: rect(37px, 700px, 166px, 30px);
  }
  35% {
    clip: rect(72px, 700px, 185px, 30px);
  }
  40% {
    clip: rect(13px, 700px, 155px, 30px);
  }
  45% {
    clip: rect(103px, 700px, 68px, 30px);
  }
  50% {
    clip: rect(33px, 700px, 173px, 30px);
  }
  55% {
    clip: rect(28px, 700px, 160px, 30px);
  }
  60% {
    clip: rect(97px, 700px, 32px, 30px);
  }
  65% {
    clip: rect(143px, 700px, 33px, 30px);
  }
  70% {
    clip: rect(29px, 700px, 117px, 30px);
  }
  75% {
    clip: rect(33px, 700px, 30px, 30px);
  }
  80% {
    clip: rect(133px, 700px, 12px, 30px);
  }
  85% {
    clip: rect(157px, 700px, 173px, 30px);
  }
  90% {
    clip: rect(149px, 700px, 56px, 30px);
  }
  95% {
    clip: rect(19px, 700px, 28px, 30px);
  }
  100% {
    clip: rect(29px, 700px, 72px, 30px);
  }
}

@keyframes glitch-before {
  0% {
    clip: rect(2px, 700px, 132px, 30px);
  }
  5% {
    clip: rect(122px, 700px, 176px, 30px);
  }
  10% {
    clip: rect(120px, 700px, 45px, 30px);
  }
  15% {
    clip: rect(118px, 700px, 137px, 30px);
  }
  20% {
    clip: rect(57px, 700px, 106px, 30px);
  }
  25% {
    clip: rect(31px, 700px, 77px, 30px);
  }
  30% {
    clip: rect(37px, 700px, 166px, 30px);
  }
  35% {
    clip: rect(72px, 700px, 185px, 30px);
  }
  40% {
    clip: rect(13px, 700px, 155px, 30px);
  }
  45% {
    clip: rect(103px, 700px, 68px, 30px);
  }
  50% {
    clip: rect(33px, 700px, 173px, 30px);
  }
  55% {
    clip: rect(28px, 700px, 160px, 30px);
  }
  60% {
    clip: rect(97px, 700px, 32px, 30px);
  }
  65% {
    clip: rect(143px, 700px, 33px, 30px);
  }
  70% {
    clip: rect(29px, 700px, 117px, 30px);
  }
  75% {
    clip: rect(33px, 700px, 30px, 30px);
  }
  80% {
    clip: rect(133px, 700px, 12px, 30px);
  }
  85% {
    clip: rect(157px, 700px, 173px, 30px);
  }
  90% {
    clip: rect(149px, 700px, 56px, 30px);
  }
  95% {
    clip: rect(19px, 700px, 28px, 30px);
  }
  100% {
    clip: rect(29px, 700px, 72px, 30px);
  }
}

@-webkit-keyframes glitch-after {
  0% {
    clip: rect(194px, 700px, 61px, 30px);
  }
  5% {
    clip: rect(59px, 700px, 67px, 30px);
  }
  10% {
    clip: rect(39px, 700px, 24px, 30px);
  }
  15% {
    clip: rect(108px, 700px, 83px, 30px);
  }
  20% {
    clip: rect(44px, 700px, 87px, 30px);
  }
  25% {
    clip: rect(61px, 700px, 79px, 30px);
  }
  30% {
    clip: rect(28px, 700px, 5px, 30px);
  }
  35% {
    clip: rect(165px, 700px, 47px, 30px);
  }
  40% {
    clip: rect(195px, 700px, 72px, 30px);
  }
  45% {
    clip: rect(6px, 700px, 138px, 30px);
  }
  50% {
    clip: rect(183px, 700px, 200px, 30px);
  }
  55% {
    clip: rect(11px, 700px, 83px, 30px);
  }
  60% {
    clip: rect(173px, 700px, 11px, 30px);
  }
  65% {
    clip: rect(152px, 700px, 151px, 30px);
  }
  70% {
    clip: rect(55px, 700px, 54px, 30px);
  }
  75% {
    clip: rect(127px, 700px, 187px, 30px);
  }
  80% {
    clip: rect(100px, 700px, 63px, 30px);
  }
  85% {
    clip: rect(75px, 700px, 104px, 30px);
  }
  90% {
    clip: rect(19px, 700px, 10px, 30px);
  }
  95% {
    clip: rect(23px, 700px, 68px, 30px);
  }
  100% {
    clip: rect(24px, 700px, 101px, 30px);
  }
}

@keyframes glitch-after {
  0% {
    clip: rect(194px, 700px, 61px, 30px);
  }
  5% {
    clip: rect(59px, 700px, 67px, 30px);
  }
  10% {
    clip: rect(39px, 700px, 24px, 30px);
  }
  15% {
    clip: rect(108px, 700px, 83px, 30px);
  }
  20% {
    clip: rect(44px, 700px, 87px, 30px);
  }
  25% {
    clip: rect(61px, 700px, 79px, 30px);
  }
  30% {
    clip: rect(28px, 700px, 5px, 30px);
  }
  35% {
    clip: rect(165px, 700px, 47px, 30px);
  }
  40% {
    clip: rect(195px, 700px, 72px, 30px);
  }
  45% {
    clip: rect(6px, 700px, 138px, 30px);
  }
  50% {
    clip: rect(183px, 700px, 200px, 30px);
  }
  55% {
    clip: rect(11px, 700px, 83px, 30px);
  }
  60% {
    clip: rect(173px, 700px, 11px, 30px);
  }
  65% {
    clip: rect(152px, 700px, 151px, 30px);
  }
  70% {
    clip: rect(55px, 700px, 54px, 30px);
  }
  75% {
    clip: rect(127px, 700px, 187px, 30px);
  }
  80% {
    clip: rect(100px, 700px, 63px, 30px);
  }
  85% {
    clip: rect(75px, 700px, 104px, 30px);
  }
  90% {
    clip: rect(19px, 700px, 10px, 30px);
  }
  95% {
    clip: rect(23px, 700px, 68px, 30px);
  }
  100% {
    clip: rect(24px, 700px, 101px, 30px);
  }
}
/*# sourceMappingURL=glitch.css.map */