.hi {
  padding: 12.5px;
}

.hi:before, .hi:after {
  content: "sergey platonov";
  position: absolute;
  color: #000;
  top: 13px;
  overflow: hidden;
}

.hi:before {
  left: 15px;
  text-shadow: 1px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}

.hi:after {
  left: 15px;
  text-shadow: -1px 0 black;
  animation: glitch-after 2s linear 0s infinite alternate-reverse;
}

@-webkit-keyframes glitch-before {
  0% {
    clip: rect(280px, 700px, 161px, 30px);
  }
  5% {
    clip: rect(167px, 700px, 161px, 30px);
  }
  10% {
    clip: rect(116px, 700px, 134px, 30px);
  }
  15% {
    clip: rect(297px, 700px, 102px, 30px);
  }
  20% {
    clip: rect(83px, 700px, 208px, 30px);
  }
  25% {
    clip: rect(207px, 700px, 190px, 30px);
  }
  30% {
    clip: rect(17px, 700px, 86px, 30px);
  }
  35% {
    clip: rect(196px, 700px, 117px, 30px);
  }
  40% {
    clip: rect(95px, 700px, 242px, 30px);
  }
  45% {
    clip: rect(232px, 700px, 230px, 30px);
  }
  50% {
    clip: rect(65px, 700px, 41px, 30px);
  }
  55% {
    clip: rect(234px, 700px, 232px, 30px);
  }
  60% {
    clip: rect(142px, 700px, 201px, 30px);
  }
  65% {
    clip: rect(126px, 700px, 290px, 30px);
  }
  70% {
    clip: rect(292px, 700px, 133px, 30px);
  }
  75% {
    clip: rect(129px, 700px, 287px, 30px);
  }
  80% {
    clip: rect(249px, 700px, 290px, 30px);
  }
  85% {
    clip: rect(61px, 700px, 284px, 30px);
  }
  90% {
    clip: rect(250px, 700px, 82px, 30px);
  }
  95% {
    clip: rect(227px, 700px, 180px, 30px);
  }
  100% {
    clip: rect(150px, 700px, 87px, 30px);
  }
}

@keyframes glitch-before {
  0% {
    clip: rect(280px, 700px, 161px, 30px);
  }
  5% {
    clip: rect(167px, 700px, 161px, 30px);
  }
  10% {
    clip: rect(116px, 700px, 134px, 30px);
  }
  15% {
    clip: rect(297px, 700px, 102px, 30px);
  }
  20% {
    clip: rect(83px, 700px, 208px, 30px);
  }
  25% {
    clip: rect(207px, 700px, 190px, 30px);
  }
  30% {
    clip: rect(17px, 700px, 86px, 30px);
  }
  35% {
    clip: rect(196px, 700px, 117px, 30px);
  }
  40% {
    clip: rect(95px, 700px, 242px, 30px);
  }
  45% {
    clip: rect(232px, 700px, 230px, 30px);
  }
  50% {
    clip: rect(65px, 700px, 41px, 30px);
  }
  55% {
    clip: rect(234px, 700px, 232px, 30px);
  }
  60% {
    clip: rect(142px, 700px, 201px, 30px);
  }
  65% {
    clip: rect(126px, 700px, 290px, 30px);
  }
  70% {
    clip: rect(292px, 700px, 133px, 30px);
  }
  75% {
    clip: rect(129px, 700px, 287px, 30px);
  }
  80% {
    clip: rect(249px, 700px, 290px, 30px);
  }
  85% {
    clip: rect(61px, 700px, 284px, 30px);
  }
  90% {
    clip: rect(250px, 700px, 82px, 30px);
  }
  95% {
    clip: rect(227px, 700px, 180px, 30px);
  }
  100% {
    clip: rect(150px, 700px, 87px, 30px);
  }
}

@-webkit-keyframes glitch-after {
  0% {
    clip: rect(36px, 700px, 118px, 30px);
  }
  5% {
    clip: rect(125px, 700px, 135px, 30px);
  }
  10% {
    clip: rect(186px, 700px, 64px, 30px);
  }
  15% {
    clip: rect(140px, 700px, 38px, 30px);
  }
  20% {
    clip: rect(184px, 700px, 135px, 30px);
  }
  25% {
    clip: rect(139px, 700px, 47px, 30px);
  }
  30% {
    clip: rect(114px, 700px, 118px, 30px);
  }
  35% {
    clip: rect(154px, 700px, 16px, 30px);
  }
  40% {
    clip: rect(82px, 700px, 163px, 30px);
  }
  45% {
    clip: rect(150px, 700px, 108px, 30px);
  }
  50% {
    clip: rect(70px, 700px, 118px, 30px);
  }
  55% {
    clip: rect(179px, 700px, 126px, 30px);
  }
  60% {
    clip: rect(91px, 700px, 56px, 30px);
  }
  65% {
    clip: rect(180px, 700px, 177px, 30px);
  }
  70% {
    clip: rect(84px, 700px, 10px, 30px);
  }
  75% {
    clip: rect(102px, 700px, 174px, 30px);
  }
  80% {
    clip: rect(1px, 700px, 146px, 30px);
  }
  85% {
    clip: rect(32px, 700px, 9px, 30px);
  }
  90% {
    clip: rect(1px, 700px, 95px, 30px);
  }
  95% {
    clip: rect(196px, 700px, 61px, 30px);
  }
  100% {
    clip: rect(186px, 700px, 99px, 30px);
  }
}

@keyframes glitch-after {
  0% {
    clip: rect(36px, 700px, 118px, 30px);
  }
  5% {
    clip: rect(125px, 700px, 135px, 30px);
  }
  10% {
    clip: rect(186px, 700px, 64px, 30px);
  }
  15% {
    clip: rect(140px, 700px, 38px, 30px);
  }
  20% {
    clip: rect(184px, 700px, 135px, 30px);
  }
  25% {
    clip: rect(139px, 700px, 47px, 30px);
  }
  30% {
    clip: rect(114px, 700px, 118px, 30px);
  }
  35% {
    clip: rect(154px, 700px, 16px, 30px);
  }
  40% {
    clip: rect(82px, 700px, 163px, 30px);
  }
  45% {
    clip: rect(150px, 700px, 108px, 30px);
  }
  50% {
    clip: rect(70px, 700px, 118px, 30px);
  }
  55% {
    clip: rect(179px, 700px, 126px, 30px);
  }
  60% {
    clip: rect(91px, 700px, 56px, 30px);
  }
  65% {
    clip: rect(180px, 700px, 177px, 30px);
  }
  70% {
    clip: rect(84px, 700px, 10px, 30px);
  }
  75% {
    clip: rect(102px, 700px, 174px, 30px);
  }
  80% {
    clip: rect(1px, 700px, 146px, 30px);
  }
  85% {
    clip: rect(32px, 700px, 9px, 30px);
  }
  90% {
    clip: rect(1px, 700px, 95px, 30px);
  }
  95% {
    clip: rect(196px, 700px, 61px, 30px);
  }
  100% {
    clip: rect(186px, 700px, 99px, 30px);
  }
}
/*# sourceMappingURL=glitch.css.map */