
/* * {
    transition: all 0.5s;
} */


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* overflow-y: visible; */
}


body {
    /* width: 100%; */
    border: 0;
    /* Allows to remove the scroll bar jumping */
    width: calc(100vw - 34px); 
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Mukta', sans-serif;
    /* overflow: auto; */
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% auto 70px;
    grid-template-columns: auto minmax(20%, 80%) auto;
    grid-template-areas: 
    ". h ."
    "s c ."
    ". f .";
}

.header {
    grid-area: h;
    position: relative;
    width: 100%;
    /* background-color: aquamarine; */
    text-align: center;
}

.content {
    grid-area: c;
    /* background-color: blanchedalmond; */
    justify-items: center;
}

#myNav {
    height: 50%;
    /* justify-items: center; */
    top: 25%;
    /* left: 50%; */
    margin: 0;
    position: relative;
    /* top: 50%; */
    height: 90px;
    transform: translateY(50%);
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /* transform: translateY(400%); */
} 

ul li {
    /* list-style: none; */
    display: inline-block;
}

.footer {
    grid-area: f;
    display: block;
    height: 50px;
    /* justify-items: bottom; */
    position: relative;

    /* background-color: aquamarine; */
}


.myFoot {
    padding: 0;
    /* justify-content: center; */
    display: grid;
    gap: 10%;
    /* grid-template-rows: auto; */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    /* position: relative; */
    grid-template-columns: repeat(5, 12%);
    grid-template-areas: 
    "en fr es ru nl";
}

.myFoot ul li {
    margin: 0 auto;
    /* justify-self: center; */
}

.smaller {
    margin: 0 !important;
    justify-self: center;
    /* transform: translateY(30%); */
}

.en {
    grid-area: en;
}

.fr {
    grid-area: fr;
}

.es {
    grid-area: es;
}

.ru {
    grid-area: ru;
}

.nl {
    grid-area: nl;
}

.line {
    position: absolute;
    height: 70%;
    width: 30%;
    left: 8%;
}

.segment {
    position: absolute;
    width: 8px;
    height: 13.5%;
    background-color: black;
    z-index: 20;
    opacity: 1;

}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
    /* margin-left: 20%; */
    opacity: 0;
}

.s1 {
    top: 0;
}

.s2 {
    top: 11.5%;
}

.s3 {
    top: 24%;
}

.s4 {
    top: 36.5%
}

.s5 {
    top: 49%;
}

.s6 {
    top: 61.5%;
}

.s7 {
    top: 74%;
}

.s8 {
    top: 86.5%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Android */
    -webkit-tap-highlight-color: transparent;
}

/* .contentGrid {
    position: absolute;
    visibility: hidden;
    display: grid;
    width: 80vw;
    height: 65vh;
    grid-template-columns: 100%;
    grid-template-rows: 90px 10% 80%;
} */

.backbtn {
    grid-row: 1;
    display: block;
    position: absolute !important;
    margin-top: 4px !important;
    margin-left: 15px !important;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    /* visibility: none; */
    padding: 10px !important;
}

.sectionTitle {
    /* background-color: tomato; */
    float: right;
    display: block;
    transition: 0.5s;
    grid-row: 2;
    font-size: 40px;
    font-weight: 800;
    /* margin-left: 30%; */
}

.sectionContent {
    transition: 0.5s;
    /* visibility: none; */
    grid-row: 3;
    display: inline-block;
    /* background-color: aqua; */
    height: max-content;
    width: 100%;
    margin-left: 15px;
}

.aboutContent {
    transition: 0.5s;
    margin-top: 10px;
    font-size: 22px;
    /* visibility: none; */
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    height: 100%;
    width: 50%;
    margin-left: 15px;
}

.aboutImages {
    display: inline-block;
    position: absolute;
    height: 100%;
    margin-left: 50px;
}

.workContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.gitGrid {
    position: relative;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
    margin-bottom: 50px;
}

.gitwrapper {
    height: 200px;
    position: relative;
    left: 20%;
    display: block;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}

.gitImg {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    z-index: 1;
    opacity: 0.2;
}

.gitDesc {
    text-align: center;
    display: block;
    position: absolute; 
    height: 70px;
    width: 100%;
    bottom: calc(50% - 35px);
    z-index: 2;
    font-size: 21px;
    font-weight: bold;
    transform: 0.5s;
}

.gitwrapper:hover {
    border: 2px solid black;
    background-color: rgb(52, 53, 54);
    /* background-image: linear-gradient(to top, rgba(52, 53, 54, 0), rgba(52, 53, 54, 1), rgba(52, 53, 54, 0)); */
    color: antiquewhite;
}

.GenDescContent {
    font-size: 20px;
}


.title {
    font-size: 30px;
    position: relative;
    margin: 20px 0;
}


.ProgLanguageGrid {
    /* visibility: hidden; */
    width: 60%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 5px;
}

.progLang {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 25px; 
    width: 100px;
    height: 25px;
    /* border: 2px solid black; */
}

.web, .general, .other {
    opacity: 0.2;
    border-radius: 8px;
    transition: 0.5s;
}

.web {
    background-color: rgba(6, 154, 190, 0.2);
    border: 2px solid rgba(6, 154, 190, 0.2);

}

.general {
    background-color: rgba(75, 57, 57, 0.2);
    border: 2px solid rgba(75, 57, 57, 0.2)
}

.other {
    background-color: rgba(165, 165, 9, 0.2);
    border: 2px solid rgba(165, 165, 9, 0.2);
}



@media (max-width: 800px) { /*------------------------------------------------------------------------------------*/

    .ProgLanguageGrid {
        width: 100%;
    }

    body {
        width: calc(100vw - 10px); 
        /* background-color: gray; */

    }

    #container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 20% auto 70px;
        grid-template-columns: auto minmax(20%, 80%) auto;
        grid-template-areas: 
        ". h ."
        "s c ."
        ". f .";
    }

    .content {
        /* overflow: visible; */
        /* height: fit-content; */
        /* background-color: bisque; */
        height: 100%;
        /* height: fit-content; */
    }

    .hi {
        font-size: 30px !important;
        line-height: 25px !important;
        transform: translateY(100%) !important;
    }

    #myNav {
        /* background-color: blue; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        top: 25%;
        transform: translateY(0);
    }

    #myNav li .snakebtn {
        width: auto !important;
        padding: 10px !important;
        margin: 0;
    }

    #myNav li {
        /* background-color: red; */
        /* align-items: center; */
        /* flex: 1; */
        width: 60%;
        padding: 10px 0;
    }

    .line {
        height: 60%;
    }

    ul li .backbtn {
        position: relative;
        font-size: 20px !important;
        width: 50px !important;
        padding: 2px !important;
        z-index: 10;

    }

    .sectionTitle {
        font-size: 30px;
    }

    /* .snakebtn .backbtn {
        width: 300px;
    } */

    .aboutContent {
        position: relative;
        z-index: 1;

        height: 100%;
        margin: 10px 0;
        word-wrap: normal;
        font-size: 15px;
        width: 100%;
    }

    .aboutPlusImages {

    }

    .aboutImages {
        display: block;
        position: absolute;
        float: left;
        left: 0;
        z-index: -1;
    }


    .sectionContent {
        /* background-color: yellow; */

        overflow: visible;
        position: relative;
        height: auto;
    }

    .workContent {
        /* background-color: antiquewhite; */
        /* height: auto; */
        margin-bottom: 50px;
        min-height: 100% !important;
    }


    .gitGrid {
        grid-template-columns: repeat(auto-fill, 95%);
        gap: 20px;
        position: relative;
    }

    .gitwrapper {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 100px;
        left: 0;
        /* align-items: center; */
        width: 100%;
        height: 100px;
    }


    .gitImg {
        left: 0;
        grid-column: 1;
        height: 100px;
        width: 100px;
    }

    .gitDesc {
        grid-column: 2;
        font-size: 15px;
    }

    .GenDescContent {
        font-size: 15px;
    }
    
    .footer {
        /* justify-self: center; */
        position: inherit;
        /* display: block; */
        /* background-color: yellow; */
        /* bottom: 0 !important; */
    }

    .myFoot {
        /* padding: 0; */
        /* display: block; */
        /* gap: 20%; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        /* background-color: blueviolet; */
        width: auto;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;

        text-align: center;
        
        /*grid-template-columns: repeat(5, 5%);
        grid-template-areas: 
        "en fr es ru nl"; */
    }


    .smaller {
        font-size: 12px !important;
    }

    .ru {
        /* background-color: aqua !important; */
        /* margin: 0 10% !important; */
        /* margin-left: 5% !important; */
        /* margin-right: 5% !important; */
    }

    .hi:before, .hi:after {
        display: none;
    }

    .ProgLanguageGrid {
        margin-left: 7%;
    }
}