
/* * {
    transition: all 0.2s;
} */


html, body {
    height: 100%;
    margin: 0;
}


body {
    height: 100%;
    margin: 0;
    width: 100%;
    border: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Mukta', sans-serif;
    overflow: auto;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: auto minmax(20%, 80%) auto;
    grid-template-areas: 
    ". h ."
    "s c ."
    ". f .";
}

.header {
    grid-area: h;
    position: relative;
    width: 100%;
    /* background-color: aquamarine; */
    text-align: center;
}

.content {
    grid-area: c;
    /* background-color: blanchedalmond; */
    justify-items: center;
}

#myNav {
    padding: 0;
    justify-content: center;
    width: auto;
    transform: translateY(400%);
    display: flex;
} 

ul li {
    list-style: none;
}

.footer {
    grid-area: f;
    display: fixed;
    position: relative;
    /* background-color: aquamarine; */
}


.myFoot {
    padding: 0;
    margin: 0;
    justify-items: center;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 100%;
    grid-template-areas: 
    ". en fr sp ru nl .";
}

.smaller {
    margin: 0 !important;
    justify-self: center;
    transform: translateY(30%);
}

.en {
    grid-area: en;
}

.fr {
    grid-area: fr;
}

.sp {
    grid-area: sp;
}

.ru {
    grid-area: ru;
}

.nl {
    grid-area: nl;
}

.line {
    position: absolute;
    height: 70%;
    width: 30%;
}

.segment {
    position: absolute;
    width: 8px;
    height: 13.5%;
    background-color: black;
    z-index: 20;
    opacity: 1;

}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
    /* margin-left: 20%; */
    opacity: 0;
}

.s1 {
    top: 0;
}

.s2 {
    top: 11.5%;
}

.s3 {
    top: 24%;
}

.s4 {
    top: 36.5%
}

.s5 {
    top: 49%;
}

.s6 {
    top: 61.5%;
}

.s7 {
    top: 74%;
}

.s8 {
    top: 86.5%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Android */
    -webkit-tap-highlight-color: transparent;
}

.contentGrid {
    position: absolute;
    visibility: hidden;
    display: grid;
    width: 80vw;
    height: 65vh;
    grid-template-columns: 100%;
    grid-template-rows: 90px 10% 80%;
}

.backbtn {
    grid-row: 1;
    display: block;
    position: absolute !important;
    margin-top: -5px !important;
    margin-left: 15px !important;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    visibility: hidden;
    padding: 5px !important;
}

.sectionTitle {
    /* background-color: tomato; */
    transition: 0.5s;
    grid-row: 2;
    font-size: 40px;
    font-weight: 800;
    margin-left: 15px;
}

.sectionContent {
    transition: 0.6s;
    visibility: hidden;
    grid-row: 3;
    display: inline-block;
    position: absolute;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    margin-left: 15px;
}

.aboutContent {
    transition: 0.5s;
    margin-top: 10px;
    font-size: 22px;
    visibility: hidden;
    overflow: auto;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 15px;
}

.workContent {
    visibility: hidden;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    position: absolute;
    overflow: auto;
}

.gitGrid {
    position: relative;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
}

.gitwrapper {
    height: 200px;
    position: relative;
    left: 20%;
    display: block;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}

.gitImg {

    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    z-index: 1;
    opacity: 0.2;
}

.gitDesc {
    text-align: center;
    display: block;
    position: absolute; 
    height: 70px;
    width: 100%;
    bottom: calc(50% - 35px);
    z-index: 2;
    font-size: 21px;
    font-weight: bold;
    transform: 0.5s;

}

.gitwrapper:hover {
    border: 2px solid black;
    background-color: rgb(52, 53, 54);
    /* background-image: linear-gradient(to top, rgba(52, 53, 54, 0), rgba(52, 53, 54, 1), rgba(52, 53, 54, 0)); */
    color: antiquewhite;
}

@media (max-width: 600px) {
    .hi {
        font-size: 30px !important;
        line-height: 25px !important;
        transform: translateY(100%) !important;
    }

    #myNav {
        display: flex;
        align-items: center;
        transform: translateY(25%) !important;
        width: 100%;
        flex-direction: column;

    }

    #myNav li .snakebtn {
        width: 80% !important;
        padding: 10px !important;
        margin: 0;
    }

    #myNav li {
        display: flex;
        width: 70%;
        padding: 10px 0;
    }

    .about, .work, .contact {
        flex: 1;
    }

    #container {
        grid-template-rows: 20% 60% 20%;
    }

    .line {
        height: 60%;
    }

    ul li .backbtn {
        position: relative;
        font-size: 20px !important;
        width: 50px !important;
        padding: 2px !important;
        z-index: 10;

    }

    .sectionTitle {
        font-size: 20px;
    }

    .snakebtn .backbtn {
        width: 300px;
    }

    .aboutContent {
        height: 80%;
        margin: 10px 0;
        word-wrap: normal;
        font-size: 15px;
    }

    .myFoot {
        margin-top: 30px;
    }

    .smaller {
        display: flex;
        padding-top: 6px !important;
    }

    /* ul li .en {
        font-size: 40px;
    } */
}