
/* * {
    transition: all 1s;
} */

html {
    height: 100%;
}


body {
    /* perspective: 1000px; */
    height: 100%;
    margin: 0;
    width: 100%;
    border: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Mukta', sans-serif;
    overflow: auto;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: auto minmax(20%, 80%) auto;
    grid-template-areas: 
    ". h ."
    "s c ."
    ". f .";
}

.header {
    grid-area: h;
    position: relative;
    width: 100%;
    /* background-color: aquamarine; */
    text-align: center;
}

.content {
    grid-area: c;
    /* background-color: blanchedalmond; */
    justify-items: center;
}

#myNav {
    padding: 0;
    justify-content: center;
    width: auto;
    transform: translateY(400%);
    display: flex;
} 

ul li {
    list-style: none;
}

.footer {
    grid-area: f;
    display: fixed;
    position: relative;
    /* background-color: aquamarine; */
}


.myFoot {
    padding: 0;
    margin: 0;
    justify-items: center;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 100%;
    grid-template-areas: 
    ". en fr sp ru nl .";
}

.smaller {
    margin: 0 !important;
    justify-self: center;
}

.en {
    grid-area: en;
}

.fr {
    grid-area: fr;
}

.sp {
    grid-area: sp;
}

.ru {
    grid-area: ru;
}

.nl {
    grid-area: nl;
}

.line {
    position: absolute;
    height: 60%;
    width: 30%;
}

.segment {
    position: absolute;
    width: 8px;
    height: 13.5%;
    background-color: black;
    z-index: 20;
    opacity: 1;

}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
    /* margin-left: 20%; */
    opacity: 0;
}

.s1 {
    top: 0;
}

.s2 {
    top: 11.5%;
}

.s3 {
    top: 24%;
}

.s4 {
    top: 36.5%
}

.s5 {
    top: 49%;
}

.s6 {
    top: 61.5%;
}

.s7 {
    top: 74%;
}

.s8 {
    top: 86.5%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Android */
    -webkit-tap-highlight-color: transparent;
}

.contentGrid {
    position: absolute;
    visibility: hidden;
    display: grid;
    width: 80vw;
    height: 65vh;
    grid-template-columns: 100%;
    grid-template-rows: 90px 10% 80%;
}

.backbtn {
    grid-row: 1;
    display: block;
    position: absolute !important;
    margin-top: -5px !important;
    margin-left: 15px !important;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    visibility: hidden;
    padding: 5px !important;
}

.sectionTitle {
    /* background-color: tomato; */
    grid-row: 2;
    font-size: 40px;
    font-weight: 800;
    margin-left: 15px;
}

.sectionContent {
    visibility: hidden;
    grid-row: 3;
    display: inline-block;
    position: absolute;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    margin-left: 15px;
}

.aboutContent {
    visibility: hidden;
    overflow: auto;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 15px;
}

.workContent {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    display: grid;
    overflow: auto;
}

@media (max-width: 600px) {
    .hi {
        font-size: 40px !important;
        line-height: 30px !important;
    }

    #myNav {
        display: block;
        transform: translateY(55%) !important;
    }

    #myNav ul li {
        padding: 100px;
    }
}